/*====================== Alert CSS==================== */

*{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}
#catalog{
    background-color: rgba(0, 0, 0, 0.734);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}
.container{
    /* making conatiner at center in the page */
    width: 40%;
    margin: 5% auto;
    padding:1rem;
    background-color: green;
    cursor: pointer;
    color: white;
}
#cansel-icon{
    position: relative;
    float: right;
    top: -10;
    right: -10;
    margin: 3px;
    padding: 3px 7px;
    border-radius: 50%;
    border: none;
    background-color: white;
    cursor: pointer;
}
.co-body{
    padding: 10px 0;
    line-height: 1.5;
}



/* ==========================Game Css ========================= */


body{
    background-color: black;
    color: white;
}

header{
    text-align: center;
    border-bottom: 5px solid white;
}

main{
    padding: 10% 3%;
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
}

h1{
    padding: 5rem 0 3rem;
}

main p{
    margin: 20px;
    font-size: 1.5rem;
}

.again,.between{
    display: inline;
    position: fixed;
    margin: 5px;
    font-size: x-small;
}

.again{
    /* move button on left side of top corner */
    left: 0;
}

.between{
    /* move between info on right of top corner */
    right: 0;
}


.number
{
    display: inline;
    padding: 30px;
    font-size: 20px;
    background-color: white;
    color: black;
    animation-name: none;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.btn{
    background-color: white;
    color: black;
    padding: 10px;
    cursor: pointer;
}

.guess{
    width: 10rem;
    font-size: 3rem;
    padding: 1rem;
    text-align: center;
    margin-bottom:10px;
    background-color: black;
    color: white;
}

.message{
    animation-name: none;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    padding: 5px;
}


/* Animation */
@keyframes win{
    from{
        color: red;
    }
    to{
        color: yellow;
    }
}
@keyframes win2{
    from{
        background-color: red;
    }
    to{
        background-color: yellow;
    }
}


/* Media Query */
@media (max-width:1024px){
    #catalog{
        background-color: rgba(0, 0, 0, 0.734);
        padding: 10% 0;
        position: fixed;
    }
    .container{
        /* making conatiner at center in the page */
        width: 60%;
    }
    main{
        padding: 10% 3%;
        display: grid;
        grid-template-columns: auto;
        text-align: center;
    }
    main p{
        margin: 20px;
        font-size: 1rem;
    }
}

